/* Users.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}

.navbar {
    background-color: #222; /* Darker gray */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
}

.navbar a {
    display: block;
    color: #ddd; /* Lighter gray */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #444; /* Medium gray */
    color: white;
}

.navbar .navbar-header {
    display: block;
    color: #ddd; /* Lighter gray */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.white-text {
    color: #fff; /* White */
}
.my-gridview {
    width: 100%;
    border-collapse: collapse;
    color: #ddd; /* Lighter gray */
    background-color: #222; /* Darker gray */
}

.my-gridview th, .my-gridview td {
    border: 1px solid #444; /* Medium gray */
    padding: 8px;
}

.my-gridview tr:nth-child(even) {
    background-color: #333; /* Base gray */
}

.my-gridview th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #444; /* Medium gray */
    color: white;
}